Canteen/.vs/Canteen/v16/.suo
Canteen/.vs/Canteen/v16/Browse.VC.db
Canteen/.vs/Canteen/v16/Browse.VC.db-shm
Canteen/.vs/Canteen/v16/Browse.VC.db-wal
Canteen/.vs/Canteen/v16/Browse.VC.opendb
Canteen/.vs/Canteen/v16/ipch/AutoPCH/22ead7f1a60800d3/MEAL.ipch
Canteen/.vs/Canteen/v16/ipch/AutoPCH/3400e9c9647f7051/ORDERSDIALOG.ipch
Canteen/.vs/Canteen/v16/ipch/AutoPCH/48f1c87ab286d5c5/LOGINDIALOG.ipch
Canteen/.vs/Canteen/v16/ipch/AutoPCH/5285019b9a2d1484/MOC_ADMINDIALOG.ipch
Canteen/.vs/Canteen/v16/ipch/AutoPCH/72b8df0a8ca4682c/ORDERS.ipch
Canteen/.vs/Canteen/v16/ipch/AutoPCH/8d904500e3eb0d87/CANTEEN.ipch
Canteen/.vs/Canteen/v16/ipch/AutoPCH/99ac201eaacc544/LOGINDIALOG.ipch
Canteen/.vs/Canteen/v16/ipch/AutoPCH/a659b76fe6261fed/HEADER.ipch
Canteen/.vs/Canteen/v16/ipch/AutoPCH/aaa1426b3819176c/MAIN.ipch
Canteen/.vs/Canteen/v16/ipch/AutoPCH/b6587850dbe691a3/CANTEEN.ipch
Canteen/.vs/Canteen/v16/ipch/AutoPCH/c7d4b3b2c6df87ac/USERS.ipch
Canteen/.vs/Canteen/v16/ipch/AutoPCH/dcdc510cdf36cece/DAY.ipch
Canteen/Canteen/Canteen.vcxproj
Canteen/Canteen/Canteen.vcxproj.filters
Canteen/Canteen/Canteen.vcxproj.user
Canteen/Canteen/x64/Debug/Canteen.exe.recipe
Canteen/Canteen/x64/Debug/Canteen.log
Canteen/Canteen/x64/Debug/Canteen.obj
Canteen/Canteen/x64/Debug/LoginDialog.obj
Canteen/Canteen/x64/Debug/main.obj
Canteen/Canteen/x64/Debug/moc_AdminDIalog.obj
Canteen/Canteen/x64/Debug/moc_Canteen.obj
Canteen/Canteen/x64/Debug/moc_ChangeStatus.obj
Canteen/Canteen/x64/Debug/moc_LoginDialog.obj
Canteen/Canteen/x64/Debug/moc_Orders.obj
Canteen/Canteen/x64/Debug/moc_OrdersDialog.obj
Canteen/Canteen/x64/Debug/Orders.obj
Canteen/Canteen/x64/Debug/qrc_Canteen.obj
Canteen/Canteen/x64/Debug/qt_work.log
Canteen/Canteen/x64/Debug/vc142.pdb
Canteen/Canteen/x64/Debug/Canteen.tlog/Canteen.lastbuildstate
Canteen/Canteen/x64/Debug/Canteen.tlog/Canteen.write.1u.tlog
Canteen/Canteen/x64/Debug/Canteen.tlog/CL.command.1.tlog
Canteen/Canteen/x64/Debug/Canteen.tlog/CL.read.1.tlog
Canteen/Canteen/x64/Debug/Canteen.tlog/CL.write.1.tlog
Canteen/Canteen/x64/Debug/Canteen.tlog/link.command.1.tlog
Canteen/Canteen/x64/Debug/Canteen.tlog/link.read.1.tlog
Canteen/Canteen/x64/Debug/Canteen.tlog/link.write.1.tlog
Canteen/Canteen/x64/Debug/Canteen.tlog/moc.read.1u.tlog
Canteen/Canteen/x64/Debug/Canteen.tlog/moc.write.1u.tlog
Canteen/Canteen/x64/Debug/Canteen.tlog/rcc.read.1u.tlog
Canteen/Canteen/x64/Debug/Canteen.tlog/rcc.write.1u.tlog
Canteen/Canteen/x64/Debug/Canteen.tlog/uic.read.1u.tlog
Canteen/Canteen/x64/Debug/Canteen.tlog/uic.write.1u.tlog
Canteen/Canteen/x64/Debug/qmake/qtvars_x64_Debug.props
Canteen/Canteen/x64/Release/qmake/qtvars_x64_Release.props
Canteen/x64/Debug/Canteen.ilk
Canteen/x64/Debug/Canteen.pdb
